@media screen and (max-width: 980px) {
    #bioImage {
        max-width:40%;
    }
}

@media screen and (max-width: 768px) {
    .navBarLinks {
        font-size:2vw;
    }

    h2 {
        font-size:3vw;
    }

    #headerName,
    nav {
        top:20%;
    }

    #headerLeft {
        width:30%;
        font-size:3.5vw;
    }

    footer {
        font-size:3vw;
        height:8vw;
    }

    #bioImage {
        max-width:50%;
    }

    #bioText {
        font-size:3vw;
    }

    #footerText {
        width:50%;
        left:25%;
    }

    #contactInfo,
    #contactInput {
        width:90%;
    }
}

@media screen and (max-width: 640px) {
    header,
    footer {
        height:10vw;
    }

    nav,
    #headerName {
        top:30%;
    }

    .navBarLinks,
    .portBanners {
        font-size:3vw;
    }
    
    nav {
        width:50%;
    }

    #mainBio {
        margin-top:15vw;
        margin-bottom:15vw;
    }

    #footerText {
        width:50%;
        left:25%;
    }
    
}

@media screen and (max-width: 426px) {

    html,
    header {
        margin:0px;
        padding:0px;
    }

    #headCont {
        width:100%;
        margin:0px;
    }
    
    #mainBio {
        margin-left:0%;
        margin-right:0%;
        width:100%;
    }

    #bioText {
        font-size:4vw;
    }

    #headerLeft {
        font-size:6vw;
        width:40%;
    }

    nav {
        width:60%;
    }

    .navBarLinks,
    .portBanners {
        font-size:4vw;
    }

    h2 {
        font-size:5vw;
    }

    nav,
    #headerName {
        top:20%;
    }

    .portSquares {
        width:80%;
        margin-left:10%;
    }
}
